@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=Fraunces:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');

:root {
   --vermelho-suave:  hsl(7, 99%, 70%);
   --amarelo: hsl(51, 100%, 49%);
   --ciano-escuro: hsl(167, 40%, 24%);
   --azul-escuro: hsl(198, 62%, 26%);
   --ciano-escuro-rodapé: hsl(168, 34%, 41%);
   --azul-muito-escuro: hsl(212, 27%, 19%);
   --azul-acizentado-muito-escuro: hsl(213, 9%, 39%);
   --azul-acizentado-escuro: hsl(232, 10%, 55%);
   --azul-acinzentado: hsl(210, 4%, 67%);
   --branco: hsl(0, 0%, 100%);
} 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Barlow', sans-serif;
}

.imagem-principal {
    width: 100%;
    height: 700px;
    background-color: #3dbeff;
    background-image: url('/assets/images/desktop/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.cabecalho ul {
    display: flex;
    justify-content: space-evenly;
}

.cabecalho ul li {
    list-style-type: none;
}

.cabecalho a {
    text-decoration: none;
    color: var(--branco);
    font-size: larger;
    padding: 10px 30px;
}

.cabecalho a:hover {
    background-color: var(--branco);
    color: var(--azul-muito-escuro);
    border-radius: 20px;
    font-weight: bold;
}

.titulo {
    font-size: xx-large;
    font-weight: bold;
    color: var(--branco);
    text-transform: lowercase;
    font-family: 'Fraunces', serif;
}

.seta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: xx-large;
    text-transform: uppercase;
    color: var(--branco);
    position: relative;
    bottom: 50px;
    font-family: 'Fraunces', serif;
}

.seta img {
    margin-top: 50px;
}

.menu-hamburguer{
    display: none;
}

/***HEADER FIM***/ 



.container-main-1 {
    display: flex;
    flex-direction: row-reverse;
    background-color: blanchedalmond;
}

.img-container {
    width: 50%;
}

.img-container .sair-2 {
    width: 100%;
    height: 100%;
}

.sair-2 img{
    width: 100%;
    height: 100%;
}

.img-container .sair-1{
    width: 100%;
    height: 100%;
}

.sair-1 img{
    width: 100%;
    height: 100%;
}

.sair-1 {
    display: none;
}

.container-descricao-main-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.descricao-main-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;
    height: 90%;
}

.descricao-main-1 h2 {
    font-size: 50px;
    font-family: 'Fraunces', serif;
}

.descricao-main-1 p {
    color: var(--azul-acinzentado);
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
}

.descricao-main-1 a {
    text-decoration: none;
    color: var(--azul-muito-escuro);
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 2px solid var(--amarelo);
}

.container2-main-1 {
    display: flex;
    flex-direction: row;
}

.main-2 {
    display: flex;

}

.imagem1-main-2 {
    background-image: url('/assets/images/desktop/image-graphic-design.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #9bdbcd;
    height: 600px;
    width: 50%;
}

.imagem2-main-2 {
    background-image: url('/assets/images/desktop/image-photography.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3dbeff;
    height: 600px;
    width: 50%;
}

.container-main-2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.descricao-main-2 {
    margin-bottom: 100px;
    height: 30%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.descricao-main-2 h2 {
    font-family: 'Fraunces', serif;
    color: var(--ciano-escuro);
    font-size: 30px;
}

.descricao-main-2 p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--ciano-escuro);
    line-height: 30px;
}

.descricao2-main-2 h2 {
    color: var(--azul-escuro);
}

.descricao2-main-2 p {
    color: var(--azul-escuro);
}

.main-3 {
    background-color: blanchedalmond;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main-3 {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-main-3 {
    color: var(--azul-acinzentado);
    font-family: 'Fraunces', serif;
    font-size: 24px;
    text-transform: uppercase;
}

.conteudo-main-3 { 
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pessoa {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pessoa img {
    border-radius: 50%;
}

.pessoa p {
    color: var(--azul-acizentado-escuro);
    font-size: 20px;
    line-height: 20px;
    font-family: 'Barlow', sans-serif;
}

.pessoa h4 {
    color: var(--azul-muito-escuro);
    font-size: 24px;
    font-family: 'Fraunces', serif;
}

.pessoa span {
    color: var(--azul-acinzentado);
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}

.main-4 {
    display: flex;
}

.images-main-4 {
    width: 25%;
}

.images-main-4 img {
    height: 100%;
    width: 100%;
}
/*** FIM MAIN ***/



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #9bdad0;
    height: 300px;
    width: 100%;
}

footer h1 {
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: var(--ciano-escuro-rodapé);
    text-transform: lowercase;
}

footer ul {
    display: flex;
}

footer li {
    list-style: none;
}

footer a {
    color: var(--ciano-escuro);
    font-size: medium;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    font-weight: 400;
    margin-left: 20px;
}

footer a:hover {
    border-bottom: 2px solid var(--ciano-escuro-rodapé);
}

footer img {
    margin-left: 20px;
}